@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */

nav[role="navigation"] ul {
	float:left;
	width: 720px;
	margin: 0;
	padding: 10px 0 0 46px;
	list-style: none;
	background: #FFCB2D url(img/nav_bg.gif) repeat -x bottom left;
}
nav[role="navigation"] ul li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	font-family: "Lucida Grande", sans-serif;
	font-size: 80%;
}

nav[role="navigation"] ul li a {
	float:left;
	display: block;
	margin: 0;
	padding: 4px 8px;
	color: #333;
	text-decoration: none;
	border: 1px solid #9B8748;
	border - bottom: none;
	background: rgb(231,212,154); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(231,212,154,1) 0%, rgba(255,230,169,1) 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,212,154,1)), color-stop(100%,rgba(255,230,169,1)));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(231,212,154,1) 0%,rgba(255,230,169,1) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(231,212,154,1) 0%,rgba(255,230,169,1) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(231,212,154,1) 0%,rgba(255,230,169,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7d49a', endColorstr='#ffe6a9',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top,  rgba(231,212,154,1) 0%,rgba(255,230,169,1) 100%); /* W3C */
	


}

nav[role="navigation"] ul li a:hover {
	color: #333;
	padding-bottom: 5px;
	border-color: #727377;
	background: rgb(224,226,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(224,226,238,1) 0%, rgba(255,255,255,1) 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,236,238,1)), color-stop(100%,rgba(255,255,255,1)));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(224,226,238,1) 0%, rgba(255,255,255,1) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(224,226,238,1) 0%, rgba(255,255,255,1) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(224,226,238,1) 0%, rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e2ee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top,  rgba(224,226,238,1) 0%, rgba(255,255,255,1) 100%); /* W3C */
	
}

nav[role="navigation"] a:hover, body#intro #t-intro a