@charset "UTF-8";
/* CSS Document */

nav[role="navigation"] ul {
	float:left;
	width: 720px;
	margin: 0;
	padding: 10px 0 0 46px;
	list-style: none;
	background: #FFCB2D url(img/nav_bg.gif) repeat -x bottom left;
}
nav[role="navigation"] ul li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	font-family: "Lucida Grande", sans-serif;
	font-size: 80%;
}

nav[role="navigation"] ul li a {
	float:left;
	display: block;
	margin: 0;
	padding: 4px 8px;
	color: #333;
	text-decoration: none;
	border: 1px solid #9B8748;
	border - bottom: none;
	background: #f9E9A9 url(img/off_bg.gif) repeat-x top left;
}

nav[role="navigation"] ul li a:hover {
	color: #333;
	padding-bottom: 5px;
	border-color: #727377;
	background: #FFF url(img/on_bg.gif) repeat -x top left;
}

nav[role="navigation"] a:hover, body#intro #t-intro a