@charset "UTF-8";
/* CSS Document */

#sweden {
	float: left;
	width: 304px;
	padding: 10px 0;
	border: 2px solid #C8CDD2;
	background: url(img/bg.gif) no-repeat top left;
}

#sweden dl {
	float: left;
	width: 260px;
	margin: 10px 20px;
	padding: 0;
}

#sweden dt {
	float: right;
	width: 162px;
	margin: 0;
	padding: 0;
	font-size: 130%;
	letter-spacing: 1px;
	color: #627081;
}

#sweden dd {
	margin: 0 0 0 98px;
	padding: 0;
	font-size: 85%;
	line-height: 1.5em;
	color: #666;
}

#sweden dl dd.img {
	margin: 0;
}

#sweden dd.img img {
	float: left;
	margin: 0 8px 0 0;
	padding: 4px;
	border: 1px solid #D9E0E6;
	border-bottom-color: #C8CDD2;
	border-right-color: #C8CDD2;
	background: #FFF;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0, .12);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.12);
	box-shadow: 1px 1px 3px rgba(0,0,0,.12);
}

/* reverse float */

#sweden .alt dt {
	float: left;
}

#sweden .alt dd {
	margin: 0 98px 0 0;
}

#sweden .alt dd.img img {
	float: right;
	margin: 0 0 0 8px;
}
