<html>
<head>
<title>Studio Limitless Photography</title>
<meta name="description=" content="We are a small Photography studio located in East Lansing.  I as well as Quoc Hung Din and Shelina Khalish, would love to help you capture your families cherished moments. We may not be a big company, but we work closely with our clients to portray them in their best light. Well enough of me talking, how about you take a look at our gallery, like our facebook page, and maybe even book us for your next event. I guarantee that you will be happy."> 
</head>

*|* {
	margin:0pt;
	padding:0pt;
}
body {
	background: transparent url(background.jpg) repeat-x center top;
	background-color:#FFF;
	font-family:"lucida sans", arial, sans-serif;
	font-size:.80em;
	color:#6e6b54;
	margin:0;
	padding:0;
}
p {
	line-height:1.5;
}
h1, h2, h3{
	line-height:1.5;
}
#wrapper {
	width:100%;
	margin:0pt auto;
}
#contents {
	width:760px;
	margin:0pt auto;
}
#header {
	position:relative;
	width:760px;
	padding-top:25px;
	padding-bottom:14px;
}
#sitename {
	font-family:palatino, garamond,"times new roman",serif;
	color:#6e6b54;
	padding-top:45px;
	font-size:2.8em;
	text-transform:uppercase;
	text-align:center;
}
#divider {
	padding-top:5px;
	padding-left:220px;
}
#date {
	font-family:palatino, garamond,"times new roman",serif;
	color:#6e6b54;
	padding-top:10px;
	font-size:1.5em;
	font-weight:normal;
	text-align:center;
}
.weebly_header {
	position:relative;
	z-index:10;
	background: transparent url(%%HEADERIMG%%) no-repeat center top;
	width:743px;
	height:276px;
	margin-top:41px;
	margin-left:18px;
}
#big-image img {
	padding-top:13px;
	padding-left:14px;
}
#main-image-background {
	background: transparent url(image-background.jpg) no-repeat center top;
	position:absolute;
	z-index:9;
	top:131px;
	left:0px;
	width:780px;
	height:315px;
}
#navigation {
	float:left;
	height:30px;
	width:760px;
	margin:0 auto;
	padding-top:7px;
	font-family:"georgia", arial, sans-serif;
	font-size:.99em;
}
#navigation ul {
	list-style:none;
	margin-left:10px;
	padding-top:5px;	
}
#navigation li {
	float: left;
	font-size:1em;
	padding-right:25px;
	padding-bottom:3px;
	margin-left:5px;
}
*html #navigation li {
	margin-right:4px;
}
#navigation a:link {
	color:#6e6b54;
	font-weight:bold;
	text-decoration:none;
}
#navigation a:hover {
	color:#8f8c75;
	font-weight:bold;
	text-decoration:none;
}
#navigation a:visited {
	color:#6e6b54;
	font-weight:bold;
	text-decoration:none;
}
a:link, a:hover, a:visited {
	color:#9a2801;
	font-weight:normal;
}
#main {
	margin:70px 0 20px 7px;
}
img.image-left {
	margin-right:15px;
	float:left;
}
img.image-right {
	margin-left:15px;
	float:right;
}
#footer {
	padding-top:10px;
	padding-bottom:10px;
}
#footer-content {
	width:760px;
	margin: 0pt auto;
	padding-left:10px;
	font-family:"lucida grande", arial, sans-serif;
}
